*{
    font-size: 20px;  
    font-family:  Arial;
}
body{
    background-image:url(image/6.jpg);
    background-repeat:repeat;
}
h1{
    font-size: 6.2em;
    color: purple;
    position: relative;
    top:-70px;
    left: 85px;
    letter-spacing: 100px;
    
}
p{  font-size:4em;
    letter-spacing: 7px;
    font-style:oblique;
    position:relative;
    top: -150px;
    left: 370px;
    color: red;
}

.a{background: url(image/2.jpg);
    background-repeat: no-repeat;
    width: 40%;
    height: 750px;
    position: relative;
    top:-160px;
    left:575px;
    padding-top: 525px;
}

