*{
    font-size: 20px;  
    font-family:  Arial;
}
body{
    background-image:url(image/6.jpg);
    background-repeat:repeat;
}
h1{
    font-size: 6.2em;
    color: purple;
    position: relative;
    top:-70px;
    left: 85px;
    letter-spacing: 100px;
    
}
p{  font-size:4em;
    letter-spacing: 7px;
    font-style:oblique;
    position:relative;
    top: -150px;
    left: 370px;
    color: red;
}

.a{background: url(image/2.jpg);
    background-repeat: no-repeat;
    width: 40%;
    position: relative;
    top:-160px;
    left:575px;
    padding-top: 500px;
}
div>p{
     font-size:2em;
    color:blueviolet;
    position: relative;
    top:-45px;
    left:7px;
   
}
div>a{
    font-size:2em;
    color: blue;
    text-decoration:none;
    position: relative;
    top:-135px;
    left:300px;
    border:5px dashed #382aa5;
}
div>h2{
    font-size:2em;
    color: green;
    position: relative;
    top:-225px;
    left:575px;
}
