*{
    font-size: 20px;  
    font-family:  Arial;
}
body{
    background-image:url(image/6.jpg);
    background-repeat:repeat;
}
h1{
    font-size: 6.2em;
    color: purple;
    position: relative;
    top:-70px;
    left: 85px;
    letter-spacing: 100px;
    
}
p{  font-size:4em;
    letter-spacing: 5px;
    font-style:oblique;
    position:relative;
    top: -150px;
    left: 370px;
    color: red;
}
nav ul>li {
    font-size:2.5em;
    font-weight:900;
    list-style-type:none;
    letter-spacing: 5px;
    padding: 0.1px 70px 20px 70px;
    display: inline-block;
    position: relative;
    top:-270px;
    left: 50px;
    margin: 60px;
    border:5px dashed #382aa5;
    background-color:darkorange
}
nav a {
    text-decoration: none;
    color: brown;
}
.a{
    position: relative;
    top:-330px;
    left: 550px;
}
h2{
    font-size:40px;
    position: relative;
    top:-700px;
    left: 50px;
    color: black;}